<div class="alle-abteilungen">

    <div class="abteilung">
        <h1 class="ueberschrift">Fehlerbehebung</h1>
        <div class="inner-abteilung">
            <img class="inner-img" src="assets/images/profil/Jacqui.png" alt="kontaktperson-fehlerbehebung">
            <p>
                Du bist auf Probleme gestoßen? <br><br>
                → Zögere nicht uns zu kontaktieren ← <br><br>
                Herr/Frau: Test <br>
                Email: Test&#64;mail.de <br>
                Telefon: 0123/ 456 7890
            </p>
        </div>
    </div>

    <div class="abteilung">
        <h1 class="ueberschrift">Vorschläge</h1>
        <div class="inner-abteilung">
            <img class="inner-img" src="assets/images/profil/Jacqui.png" alt="Vorschlag-Verwalter">
            <p>
                Du hast Vorschläge zur Verbesserung unserer Homepage? <br><br>
                → Hier kannst du deine Ideen mit uns teilen ← <br><br>
                Herr/Frau: Test <br>
                Email: Test&#64;mail.de <br>
                Telefon: 0123/ 456 7890
            </p>
        </div>
    </div>

    <div class="abteilung">
        <h1 class="ueberschrift">Karriere</h1>
        <div class="inner-abteilung">
            <img class="inner-img" src="assets/images/profil/Jacqui.png" alt="Personal-Abteilungsleiter">
            <p>
                Du möchtest dich dem Team anschließen? <br><br>
                Schau ob eines der unten anliegenden Jobanzeigen zu dir passt. <br><br>
                Herr/Frau: Test <br>
                Email: Test&#64;mail.de <br>
                Telefon: 0123/ 456 7890
            </p>
        </div>
        <div class="jobanzeigen">
            <h4 class="inner-ueberschrift">Ausgestellte Job-Anzeigen</h4>
            <div class="inner-p">
                <br>
                <p class="inner-p">
                    Gegenwärtig haben wir keine Stellungsausschreibungen.
                </p>
            </div>
        </div>

    </div>
</div>